---
---

@import "{{ site.theme }}";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 700;
}

h2, h3, h4, h5, h6 {
  color: #0e4ead;
}

pre, code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
}

.highlight .o {
  font-weight: 400;
}

#header_wrap {
  background: linear-gradient(to top, #575757, #212121);
}

.inner {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  position: relative;
  max-width: 1024px;
  padding: 20px 10px;
  margin: 0 auto;
}

.main-columns {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  position: relative;
  width: 1024px;
  padding: 20px 10px;
  margin: 0 auto;
}

.main-area {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 768px;
}

.sidebar {
  width: 256px;
  margin-left: 24px;
  flex-shrink: 0;
}

.post-area {
  display: block;
}

.post-title {
  color: #20a0ff;
}

.links-top {
  margin-bottom: 24px;
}

.links-bottom {
  margin-top: 24px;
}

.link-right {
  text-align: right;
}

pre.highlight {
  padding: 4px;
  background-color: #ffffff;
  margin: 12px 0px;
}

code {
  background-color: #dddddd;
  box-shadow: none;
  font-size: 18px;
}

pre code {
  background-color: #ffffff;
  font-size: 16px;
}

.note {
  background-color: #e0e0e0;
  padding: 8px 12px;
}

.post-attrs {
  display: flex;
  background: #e0e0e0;
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;
  padding: 4px 8px;
  margin-bottom: 24px;
}

.post-label {
  font-weight: bold;
  margin-right: 12px;
  text-transform: uppercase;
}

.post-value {
  margin-right: 18px;
  text-transform: uppercase;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: bold;
  text-transform: uppercase;
}

.sidebar-list {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}
.post-list-item {
  padding-left: 0px;
  margin-left: 0px;
  font-size: 0.9em;
  line-height: 1.2em;
  margin-bottom: 8px;

}